
._hide {
  display: none;
}

._show {
  display: block;
}
.loanInfo, .historyInfo {
    margin: 20px;
}

.extend {
    /*border:2px solid yellow;*/
}

.historyList li:last-of-type{
    font-weight: bold;
}